*, *:before, *:after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body{
   display: inline-block;
    
}
.menu {
    height: 75px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(155, 109, 109);
    box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
    position: fixed;
    z-index: 9;
    background: white;
}
.logo {
    padding: 25px;
    font-size: 35px;
    color: #000;
    font-weight: 100;
}
.menu_items {
    display: flex;
    list-style: none;
    margin-right: 30px;
}
.menu_items li {
    border-radius: 15px;
    margin: 15px;
}
.menu_items li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.menu_items li a:hover {
    padding: 5px 10px;
    background: black;
    color: white;
    border-radius: 15px;
    transition: all 1.5s ease;
}
.btn_menu {
    margin-right: 30px;
    font-size: 25px;
    cursor: pointer;
    display: none;
}
ul.mostrar{
    top: 65px;
}
@media screen and (max-width: 952px){
    .logo {
        font-size: 30px;
        padding-left: 35px;
    }
    .menu_items li a {
        font-size: 16px;
    }
}
@media screen and (max-width: 850px) {
    .menu {
        height: 65px;
    }
    .btn_menu {
        display: inline-flex;
    }
    .menu_items {
        position: fixed;
        width: 100vw;
        height: calc(100% - 65px);
        background: black;
        top: -100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
    }
    .menu_items li {
        margin: 30px 0 0 0;
        line-height: 30px;
    }
    .menu_items li:hover {
        background: none;
    }
    .menu_items li a {
        font-size: 20px;
        color: #fff;
        font-weight: bold;
    }
    .menu_items li a:hover {
        color: #a51692;
    }
    .logo {
        font-size: 30px;
        padding-left: 35px;
    }
}
@media screen and (max-width: 858px) and (orientation: landscape) {
    .menu_items li {
        margin: 5px 0 0 0 ;
    }
    .menu_items {
        overflow: scroll;
        height: calc();
    }
}



/*carrousel*/

.carousel-item {
    width: 30px;
    height: 10%;
}